/* .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor: pointer;
} */

.video-content {
  margin-top: 1rem !important;
}

.thumbnail,
.title {
  width: 400px;
  font-size: 1.3rem;
  font-weight: 700;
}

.video-title {
  margin-top: 1rem !important;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}
